{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/core.logic {:mvn/version "1.0.0"}
        org.clojure/clojurescript {:mvn/version "1.10.914"}
        org.clojure/core.memoize {:mvn/version "1.0.253"}
        org.clojure/java.jdbc {:mvn/version "0.7.11"}
        org.clojure/data.xml {:mvn/version "0.0.7"}
        org.clojure/tools.analyzer.jvm {:mvn/version "1.2.1"}
        }
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner 
                               {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
